.cart__section {
    background-color: rgb(205, 230, 241);
    display: flex;
}

.cart {
    background-color: white;
    width: 500px;
    height: 100px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.cart__img {
    width: 80px;
    margin-top: 10px;
    margin-left: 10px;
}