.sidenav {
    height: 60px;
    background-color: #003488;
    padding: 10px;
}

.title {
    color: white;
}

.icon__profile {
    color: white;
    right: 30px;
    position: absolute;
    top: 15px;
}

.icon__notification {
    color: white;
    right: 80px;
    position: absolute;
    top: 15px;
}

.logo {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-left: 10px;
}