.sidebar__nav {
    padding: 10px;
    border-bottom: 1px solid gray;
    font-size: 20px;
}

.dropdown {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 40px;
  margin-top: -20px;
  background-color: rgb(227, 222, 222);
  border: 1px solid gray;
  border-radius: 5px;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(227, 222, 222);
  width: 170px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  margin-top: 11px;
  margin-left: -1px;
  border-radius: 5px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px 35px;
  font-weight: bold;
  border-radius: 5px;
}

.children__card {
 background-color: rgb(236, 232, 232); 
 border-bottom: 1px solid gray;
 padding: 10px;
 padding-bottom: 20px;
 height: 60px;
 text-align: center;
}

.childName {
  font-size: 20px;
  margin-bottom: 2px;
}